.small {
    	height: 16px;
    	width: 16px;
  	}

.link {
	cursor:pointer;
}


.logo {
            font-family: Haskell;
            color: #453a62;
            }

.top_input {
    --paper-input-container-focus-color:#453a62;
}
