.file {
	cursor: pointer;
	background: url(../img/file.png) no-repeat;
	padding-left: 16px;
}

.hsfile {
	cursor: pointer;
	background: url(../img/hsfile.png) no-repeat;
	padding-left: 16px;
}

.cabalfile {
	cursor: pointer;
	background: url(../img/cabal.png) no-repeat;
	padding-left: 16px;
}

.folder {
	cursor: pointer;
	background: url(../img/folder.png) no-repeat;
	padding-left: 16px;
}

.fileBrowser {
	display: table-cell;
	vertical-align:top;
	border: 1px solid black;
	background-color: white;
	z-index:10;
	position:absolute;
	display:none;
}

.fileBrowserButtons {
	border-bottom: 1px dashed black;
	width: 100%;
}

/* .CodeMirror { */
/* 	width:100%; */
/* 	height:100%; */
/* } */

.table-cell {
	vertical-align: top;
}