.file {
	cursor: pointer;
	background: url(../img/file.png) no-repeat;
	padding-left: 16px;
}

.hsfile {
	cursor: pointer;
	background: url(../img/hsfile.png) no-repeat;
	padding-left: 16px;
}

.cabalfile {
	cursor: pointer;
	background: url(../img/cabal.png) no-repeat;
	padding-left: 16px;
}

.folder {
	cursor: pointer;
	background: url(../img/folder.png) no-repeat;
	padding-left: 16px;
}

.fileBrowser {
	display: table-cell;
	vertical-align:top;
	border: 1px solid black;
	background-color: white;
	z-index:10;
	position:absolute;
	display:none;
}

.fileBrowserButtons {
	border-bottom: 1px dashed black;
	width: 100%;
}

.fileBrowserIcon-Closed {
	cursor: pointer;
	background: url(../img/folder_closed.png) no-repeat;
	padding-left: 16px;
}

.fileBrowserIcon-Opened {
	cursor: pointer;
	background: url(../img/folder.png) no-repeat;
	padding-left: 16px;
}

.fileClose {
	cursor: pointer;
	background: url(../img/close.png) no-repeat;
	padding-left: 16px;	
	padding-top: 16px;	
}

.fileSave {
	cursor: pointer;
	background: url(../img/save.png) no-repeat;
	padding-left: 16px;	
	padding-top: 16px;	
}

.table-cell {
	vertical-align: top;
}

.noteCount {
	text-align: right;
	color: red;
	padding-left: 16px;	
}

.noteList {
	display: table-cell;
	vertical-align:top;
	border: 1px solid black;
	background-color: white;
	z-index:10;
	position:absolute;
	display:none;
}

.noteError{
	cursor: pointer;
	background: url(../img/error.png) no-repeat;
	padding-left: 16px;
}

.noteWarning {
	cursor: pointer;
	background: url(../img/warning.png) no-repeat;
	padding-left: 16px;
}

.errorGutter {
	width: 12px;
}